.base {
    display: flex;
    justify-content: center;
}

.miSemaforo {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    margin-top:40px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(209, 148, 34);
    width: 160px;
    height: 400px;
}

.redLight {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    background-color: red;
    width: 70%;
    height: 30%;
    border-radius: 50%;
}

.yellowLight {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    background-color: yellow;
    width: 70%;
    height: 30%;
    border-radius: 50%;
}

.greenLight {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    background-color: green;
    width: 70%;
    height: 30%;
    border-radius: 50%;
}

.on {
    box-shadow: 0 0 20px 5px white;
}

.purple  {
    z-index: 3;
    background-color: purple !important;
    box-shadow: 0 0 20px 5px white;

}

.container {
    
}